<div class="noti_item_cmt">
    <div class="noti-item-react-feature">
        <img class="img-noti-feature" src="<%= noti.avatar %>" alt="">
        <i class="fa-solid fa-comment cmt-noti-icon"></i>
       </div>
         <p><%= noti.display_name %> đã bình luận bài viết của bạn</p>
</div>