<div class="noti_item_react" >
    <div class="noti-item-react-feature">
     <img class="img-noti-feature" src="<%= noti.avatar%>" alt="">
     <i class="fa-solid fa-heart react-noti-icon"></i>
    </div>
      <p><%= noti.display_name %> đã thích bài viết của bạn</p>
 </div>